/* 
ul li{
  padding: 10px;
  border-bottom: 1px solid #404c5d;
} */

ul{
  display: inline-block;
  
} 
.box {
  width: 50%;
margin: 20px;
}

.label{
  margin-bottom: 10px;
}
.title {
  font-size: 15px;
  margin-left:10px;
  margin-bottom: 20px;



}

.object{
  background-color: #F6F6F6;
  display: flex;
  padding: 20px 50px;
  border-bottom: 1px solid #222343";
  

}
.prod {
  margin-right: 30px;
  width: 100%;
  
}